name: Deploy

on:
  push:
    branches: [ master ]

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: install sphinx
        run: pip install sphinx sphinx_rtd_theme sphinxcontrib-mermaid sphinxcontrib.googleanalytics sphinxcontrib-video sphinxcontrib.spelling
      
      - name: install graphviz and rclone
        run: sudo apt install graphviz rclone s4cmd

      - name: Run make
        run: make

      - name: Save results as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: doc-build
          path: _build/

      - name: configure
        run: rclone config create my-remote webdav url ${{secrets.WEBDAV_URL}} vendor other user '${{secrets.WEBDAV_USER}}'  pass '${{secrets.WEBDAV_PASSWORD}}'

      - name: deploy
        run: "rclone -I sync _build my-remote:"
        
      - name: deploy2
        env:
          S3_ACCESS_KEY: ${{secrets.S3_ACCESS_KEY}}
          S3_SECRET_KEY: ${{secrets.S3_SECRET_KEY}}
        run: s4cmd --endpoint-url=${{secrets.S3_ENDPOINT_URL}} dsync -s -r --delete-removed _build/en/html/ s3://${{secrets.S3_BUCKET}}/
