name: Deploy

on:
  push:
    branches: [ master ]

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: install sphinx
        run: pip install sphinx docutils==0.16
        # docutils should be < 0.17 for correct rendering. see https://stackoverflow.com/questions/67542699/readthedocs-sphinx-not-rendering-bullet-list-from-rst-file
      
      - name: install graphviz and rclone
        run: sudo apt install graphviz rclone

      - name: Run make
        run: make

      - name: Save results as artifacts
        uses: actions/upload-artifact@v2
        with:
          name: doc-build
          path: _build/

      - name: configure
        run: rclone config create my-remote webdav url ${{secrets.WEBDAV_URL}} vendor other user '${{secrets.WEBDAV_USER}}'  pass '${{secrets.WEBDAV_PASSWORD}}'

      - name: deploy
        run: "rclone -I --disable-http2 --transfers 6 sync _build my-remote:"

