name: Tests
on:
  pull_request:
  push:
    branches: [ master ]

jobs:
  linkcheck:
    name: "Link check"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install sphinx
        run: pip install sphinx sphinx_rtd_theme sphinxcontrib-mermaid

      - name: install graphviz
        run: sudo apt install graphviz

      - name: Run linkcheck
        run: make linkcheck

      - name: Run build
        env: 
          SPHINXOPTS: "-W --keep-going -n"
        run: make

